@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
/* font-family: 'Oswald', sans-serif; */
:root {
  --primary: #005542;
  --secondary1: #01dc82;
  --secondary2: #fff200;
  --white: #fff;
  --black: #111;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body {
  width: 100%;
  height: auto;
  padding: 0px;
  font-family: "Oswald", sans-serif;
}
#wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}
/* Resuable */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.container {
  width: 1400px;
  margin: 0% auto;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.btn {
  display: inline-block;
  padding: 8px 30px;
}
.btn-fill {
  background: var(--primary);
  color: var(--secondary1);
}
.btn-border {
  border: 1px solid var(--primary);
  color: var(--primary);
}

/* header */
header {
  background: var(--primary);
  width: 100%;
  height: auto;
  padding: 5px 0px;
}
header .logo {
  width: 200px;
}
header .menu ul li a {
  display: block;
  margin-left: 18px;
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
}
header .menu ul li a.login {
  background: var(--secondary1);
  padding: 5px 18px;
  border-radius: 5px;
}
header .menu ul li a.register {
  background: var(--secondary2);
  padding: 5px 18px;
  border-radius: 5px;
  color: var(--black);
}

/* hero */

.hero {
  width: 100%;
  height: auto;
  background: #c5ffe7;
  padding: 30px;
}
.hero_content {
  padding: 30px;
}
.hero_content h1 {
  font-size: 100px;
  text-transform: uppercase;
  color: #c5ffe7;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--primary);
  transform: rotate(-4deg);
}
.hero_content h2 {
  font-size: 100px;
  text-transform: uppercase;
  color: var(--primary);
  transform: rotate(-4deg);
  margin-top: -40px;
}
.hero_content h6 {
  font-size: 24px;
  margin-top: 10px;
  color: var(--primary);
}
.hero_content p {
  font-size: 18px;
  margin-top: 10px;
  color: #595959;
}
.hero_content .btn {
  margin-top: 10px;
}
.hero_content {
  width: 600px;
}
.hero_img {
  width: 500px;
}
